.sidebar {
    background-color: #388185;
    width: 20%;     
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.sidebar > button {
    padding: 20px;
    background-color: #388185;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}