.footer {
    display: flex;
    height: 75px;
    width: 100%;
    background-color:#001F3F ;
   
    color: #2ecc71;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}